// Цвета
$bg-primary: #1a1a1a;
$bg-img: beige;
$text-primary: white;
$text-secondary: honeydew;
$accent-color: grey;

// Размеры
$button-font-size: 15px;
$title-font-size: 20px;
$year-font-size: 15px;
$border-radius: 0.5rem;