//Цвета для Light Theme
  $bg-primary: #ffffff;
  $bg-img: #f5f5f5;
  $text-primary: #000000;
  $text-secondary: #333333;
  $accent-color: #007bff;
  $back-btn: #2e7d32;

// Цвета для Dark Theme
$bg-primary: #1a1a1a;
$bg-img: beige;
$text-primary: white;
$text-secondary: honeydew;
$accent-color: grey;
$back-btn: #2e7d32;

// Размеры
$button-font-size: 15px;
$title-font-size: 20px;
$year-font-size: 15px;
$border-radius: 0.5rem;