@use "../styles/variables" as *;


.favorites-empty {
  display: block;
  align-items: center;
  justify-content: center;
}

.favorites-empty-title {
  color: var(--text-primary);
}

.favorites-empty-warning {
  color: var(--text-primary);
}

.favorite-page-back-btn {
  color: var(--text-primary);
  background-color: var(--accent-color);
  margin-top: 0.5rem;
  border-radius: $border-radius;
  border: none;
}