@use "../styles/variables" as *;

.movie-page-card {
  display: flex;
  gap: 3rem;
  border-radius: $border-radius;
}

.movie-page-poster-img {
  width: 40%;
  background-color: var(--bg-img);
  object-fit: cover;
}

.movie-page-poster-details {
  width: 60%;
}

.movie-page-title {
  display: flex;
  font-size: 20px;
  color: var(--text-primary);
}

.movie-page-description {
  color: var(--text-primary);
}

.movie-page-year {
  display: flex;
  color: var(--text-secondary);
  font-weight: lighter;
  font-size: 15px;
}

.movie-page-favorite-btn--add {
  display: block;
  width: 60%;
  cursor: pointer;
  color: var(--text-primary);
  background-color: var(--accent-color);
  border: none;
  font-size: $button-font-size;
  border-radius: $border-radius;
}

.movie-page-favorite-btn--remove {
  display: block;
  width: 60%;
  cursor: pointer;
  color: var(--text-primary);
  background-color: var(--btn-remove-color);
  border: none;
  font-size: $button-font-size;
  border-radius: $border-radius;
}

.movie-page-back-btn {
  display: block;
  width: 60%;
  color: var(--text-primary);
  background-color: var(--btn-primary-color);
  margin-top: 0.5rem;
  border-radius: $border-radius;
  border: none;
}