@use '../styles/variables' as *;

.cinema-grid-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.cinema-card {
  padding: 1rem;
  border-radius: $border-radius;
}

.cinema-poster-img {
  width: 100%;
  background-color: var(--bg-img);
  object-fit: cover;
}

.cinema-year {
  display: flex;
  color: var(--text-secondary);
  font-weight: lighter;
  font-size: 15px;
}

.cinema-title {
  display: flex;
  font-size: 20px;
  color: var(--text-primary);
}

.favorite-btn--add {
  display: block;
  width: 100%;
  cursor: pointer;
  color: var(--text-primary);
  background-color: var(--accent-color);
  border: none;
  font-size: $button-font-size;
  border-radius: $border-radius;
}

.favorite-btn--remove {
  display: block;
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: var(--btn-remove-color);
  border: none;
  font-size: $button-font-size;
  border-radius: $border-radius;
}